.div_box {
    border: 2px dotted #a55b86;
    border-radius: 10px;
    background: white;
    min-height: 100px;
    height: auto;
    margin: 30px;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}

h2 , h3, h4 {
    text-align: center;
    color: #a55b86;
}

strong, i {
    color: #a55b86;
}

.flex-container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.flex-container3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
}

.flex-item {   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;     
}

.feat_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    object-fit: fill;
}

.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 300px;
  }

.parallax {
    background-image: url("./assets/bg.jpg");
    min-height: 700px; 
    opacity: .65;
    filter: brightness(80%);

    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}